.ReservaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.FormContainer {
    width: 400px; /* Mismo ancho que el segundo conjunto */
    padding: 20px; /* Mismo espaciado interno que el segundo conjunto */
    border: 1px solid #ccc; /* Mismo borde que el segundo conjunto */
    border-radius: 10px; /* Mismo borde redondeado que el segundo conjunto */
    background-color: rgba(255, 255, 255, 0.8); /* Mismo fondo semi-transparente que el segundo conjunto */
    box-shadow: 0px 0px 10px rgb(13, 22, 153); /* Mismo sombreado que el segundo conjunto */
}

.ReservaForm label {
    color: #000000; /* Color del texto de las etiquetas */
}

.ReservaForm input[type="text"],
.ReservaForm input[type="email"],
.ReservaForm input[type="date"],
.ReservaForm input[type="time"],
.ReservaForm input[type="checkbox"] {
    width: calc(100% - 20px); /* Mismo ancho de los input que el segundo conjunto */
    margin-bottom: 10px; /* Mismo espacio entre los input que el segundo conjunto */
    padding: 10px; /* Mismo espaciado interno que el segundo conjunto */
    border: 1px solid #000000; /* Mismo borde que el segundo conjunto */
    border-radius: 5px; /* Mismo borde redondeado que el segundo conjunto */
    background-color: rgb(255, 255, 255); /* Mismo fondo blanco que el segundo conjunto */
    box-sizing: border-box; /* Hace que el padding y el borde no aumenten el ancho total */
}

.ReservaForm button[type="submit"],
.ReservaForm button[type="button"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px; /* Mismo margen superior que el segundo conjunto */
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Mismo color de fondo del botón que el segundo conjunto */
    color: white; /* Mismo color de texto del botón que el segundo conjunto */
    cursor: pointer;
}

.ReservaForm button[type="submit"]:hover,
.ReservaForm button[type="button"]:hover {
    background-color: #0056b3; /* Mismo color de fondo al pasar el cursor que el segundo conjunto */
}
h2 {
    text-align: center;
}