.icono-navbar img {
  width: 30px; /* Define el ancho deseado del icono */
  height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
}

.navbar {
  background-color: #0451a3;
  color: white;
  padding: 5px 10px; /* Espacio de padding */
  width: 100%; /* Ancho completo */
  max-width: 1400px; /* Aumenta el ancho máximo */
  margin: 10px auto; /* Centro horizontalmente */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; /* Uso de Flexbox para un diseño responsivo */
  justify-content: space-between; /* Espaciado entre elementos */
  align-items: center; /* Centrar verticalmente */
  border-radius: 10px; /* Agregar bordes redondeados */
}

/* Estilo para la lista de elementos de la barra de navegación */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Alinea los elementos horizontalmente */
  width: 100%; /* Establecer el ancho completo de la lista */
}

/* Estilo para cada elemento de la lista */
.navbar ul li {
  display: flex;
  align-items: center; /* Centrar verticalmente */
}

/* Estilo para los enlaces dentro de los elementos de la lista */
.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave */
}

/* Estilo al pasar el ratón sobre los enlaces */
.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

/* Contenedor del botón "cerrar sesión" */
.navbar ul li:last-child {
  margin-left: auto;
}

/* Espacio entre la barra de navegación y el contenedor de imágenes */
.image-container {
  margin-top: 20px; /* Ajusta según sea necesario */
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgb(13, 22, 153);
  padding: 10px; /* Espaciado interno */
}

.text {
  color: rgb(0, 0, 0);
}

.item img {
  width: 200px; /* Ancho deseado para las imágenes */
  height: 120px; /* Altura ajustada automáticamente para mantener la proporción */
  margin-right: 20px;
  border: 5px solid #000; /* Bordes de igual ancho y color negro */
}
.user-name {
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.text {
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
